<label class="form-label">Editor de contenido</label><br>
<textarea class="form-control" rows="5" style="width: 100%;"
    autocomplete="off"
    type="text"
    id="name"
    #name
    [(ngModel)]="documentName"></textarea>
<button type="submit" class="btn btn-md btn-success btn-submit" (click)="addDocument()">Agregar contenido a la tabla</button>    
<br>
<h1>{{ documentList.title }}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contenido</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documentItems$ | async">
        <th scope="row">{{document.id}}</th>
        <td>{{document.title}}</td>
        <td><app-yaml-list-item></app-yaml-list-item></td>
      </tr>
    </tbody>
</table>      


